<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create user</a>
    </div>
    <div class="form">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend>Delete an user</legend>
                <div class="input-group d-none">
                    <label>Id</label>
                    <input 
                    type="text" 
                    value="<%= userEdit.id%>"
                    name="userId" 
                    />
                </div>

                <div class="input-group">
                    <label>Are you sure you want to delete this Email:</label>
                    <input 
                    type="text" 
                    value="<%= userEdit.email%>"
                    name="email" 
                    />
                </div>
                <div>
                    <button>Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>